@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@200&family=Quicksand:wght@300;400;500&family=Ubuntu+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Merriweather:ital,wght@1,700 & display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: aliceblue;
  font-family: 'Great Vibes', cursive;
}
.container{
  width: 90%;
  height: 570px;
  position: relative;
  margin: 0 auto;
  padding: 5%;
  color: #86895d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.v-line-top{
  border-left: solid 2px;
  height:12.5%;
  left: 50%;
  position: absolute;
  top: 13%;
  animation: right-fade  1s linear;
  animation-timing-function: ease-out;
 }
 .v-line-bottom{
  border-left: solid 2px;
  height:13%;
  right: 50%;
  position: absolute;
  top: 50%;
  animation: left-fade  1s linear;
  animation-timing-function: ease-out;
 }
.nocur{
  font-family: 'Merriweather', serif;
  margin-top: 10px;
  font-size: 17px;
}
.name{
  font-size: 40px;
  padding: 10%;
}
.invited-name {
  font-size: 20px;
  font-weight: bold;
}
ul{
  /* margin: 0 auto; */
  /* padding: 0; */
  overflow: hidden;
  justify-content: center;
  display: flex;
  
}
.button{
  background-color: transparent;
  border-color: #86895d;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  color: #86895d;
}
li{
  width: 76px;
  font-family: 'Merriweather', serif;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 2px solid;
  font-size: 20px;
  font-weight: bold;
}
.last-i {
  border-right: none
}
.fecha{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.main-card {
  width: 100%;
  max-width: 414px;
  height: 100vh;
  background-image: url('../imgs/canvas.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.code_container {
  width: 50%;
  margin: 0 auto;
}
.code_container input{
  width: 50%;
  height: 30px;
  color: #86895d;
  padding-left: 10px;
}

.confirm {
  font-size: 18px;
  letter-spacing: 2px;
}

@keyframes right-fade {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes left-fade {
  from {
    right: 0;
  }
  to {
    right: 50%;
  }
}